.main_lowerPart {
    width: inherit;
    background-color: olive;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main_lower_part_content{
    background-color: gray;
    width: 320px;
    height: 300px;
}
