body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main {
    width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_ad {
    width: 300px;
    background-color: gray;
}

.left_ad_factor {
    width: 300px;
}

.left_ad_factor img {
    width: 300px;
}

.right_ad {
    width: 300px;
    height: inherit;
    background-color: gray;
}

.main_wrapper {
    background-color: green;
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_wrapper_header {
    width: inherit;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_wrapper_contents {
    width: inherit;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main_upperPart {
    background-color: olivedrab;
    width: inherit;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main_lowerPart {
    height: 320px;
}

.main_lower_ad {

}